/* Resetear los márgenes y paddings predeterminados */
body, h1, h2, h3, p, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../assets/gen1.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(21, 7, 99, 0.9);
    width: 100%;
    padding: 0;
    transition: background-color 0.3s;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-logo {
    color: white;
    font-size: 18px;
    margin: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #304ae1;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(240, 248, 255, 0.9);
    width: 100%;
}

section {
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

h2 {
    color: #555;
    margin-top: 20px;
}

h3 {
    color: #777;
    margin-bottom:  20px;
}

p {
    color: #444;
    margin-bottom: 20px;
}

.img__explanation {
    width: 70%;
    margin: 20px auto;
    border-radius: 20px;
    display: block;
}

.secuence__label {
    display: block;
    color: #555;
    margin-bottom: 5px;
    font-weight: bolder;
}

.secuence__input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #555;
}

button {
    background-color: #3d31c4;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 5px;
    display: inline-block;
}

button:hover {
    background-color: #0d064e;
}

button:active {
    transform: scale(0.95);
}

.social-links a {
    text-decoration: none;
    color: #433789;
    margin: 0 10px;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.social-links a img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.social-links a:hover {
    color: #304ae1;
}

.btn__comparator {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(240, 248, 255, 0.9);
    width: 100%;
    margin-top: auto;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2);
    font-weight: bolder;
    overflow: hidden; /* Evita el scroll horizontal */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info {
    color: #555;
    margin-bottom: 10px;
    text-align: center;
}

.social-links a {
    text-decoration: none;
    color: #433789;
    margin: 0 10px;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.social-links a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    filter: brightness(0.8);
    transition: filter 0.3s;
}

.social-links a:hover {
    color: #304ae1;
}

.social-links a:hover img {
    filter: brightness(1);
}

