body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../assets/lista1.jpg');
  background-size: cover;
}

.App {
  max-width: 600px;
  min-width: 400px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #282c34;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  margin: 20px;
}

.Clock {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters label {
  color: #fff;
  margin-right: 5px;
}

.filters input[type="text"],
.filters select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filters select {
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-container .input-container {
  display: flex;
  margin-bottom: 10px;
}

.form-container .input-container input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.form-container .input-container select {
  padding: 12px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.form-container .button-action {
  margin-top: 10px;
}

.task-list {
  max-height: 70vh;
  overflow-y: auto;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
}

.task .task-number {
  margin-right: 5px;
}

.task .task-content {
  flex: 1;
}

.task-actions {
  display: flex;
  align-items: center;
}

.button-action {
  background-image: linear-gradient(to right, #0a2542, #0384af);
  padding: 8px;
  border-radius: 6px;
  opacity: 0.9;
  color: white;
  font-weight: bolder;
  margin-bottom: 4px;
  cursor: pointer;
}

.task.low {
  background-image: linear-gradient(to right, #46a130, #9ed343);
  width: 95%;
}

.task.medium {
  background-image: linear-gradient(to right, #d8a618, #f9d03b);
  width: 95%;
}

.task.high {
  background-image: linear-gradient(to right, #711e15, #b93809);
  width: 95%;
}

#print-button {
  background-image: linear-gradient(to right, #0a2542, #0384af);
  padding: 12px;
  border-radius: 6px;
  opacity: 0.9;
  color: white;
  font-weight: bolder;
  margin-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .App {
    width: 100%;
    margin: 10px;
  }
}
